
[submodule "VeraGrid"]
	path = VeraGrid
	url = git@github.com:eRoots-Analytics/VeraGrid.git
[submodule "stability_analysis"]
	url = git@github.com/iraola/stability_analysis
	path = stability_analysis
